package {{package}};

import org.annpurna.wallet.cli.exception.AnnpurnaServiceException;

import {{package}}.*;
import {{modelPackage}}.*;

import org.annpurna.wallet.cli.api.handler.impl.ApiServiceImplementation;

import org.glassfish.jersey.media.multipart.FormDataContentDisposition;

import javax.servlet.http.HttpServletRequest;


{{#imports}}import {{import}};
{{/imports}}

import java.util.List;
import {{package}}.NotFoundException;

import java.io.InputStream;

import javax.ws.rs.core.Response;
import javax.ws.rs.core.SecurityContext;
{{#useBeanValidation}}
import javax.validation.constraints.*;
{{/useBeanValidation}}
{{>generatedAnnotation}}
{{#operations}}
public abstract class {{classname}}Service extends ApiServiceImplementation {
    {{#operation}}
    public abstract Response {{nickname}}({{#allParams}}{{>serviceQueryParams}}{{>servicePathParams}}{{>serviceHeaderParams}}{{>serviceBodyParams}}{{>serviceFormParams}},{{/allParams}}SecurityContext securityContext,HttpServletRequest httpServletRequest) throws NotFoundException , AnnpurnaServiceException;
    {{/operation}}
}
{{/operations}}
